



body:hover {
    transition: all 300 ease;
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Times New Roman', Times, serif,;
}

.avatar {
    width: 150px;
    position: relative;
    border-radius: 20px;
}


.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e7bc91;
    color: #2b2839;
    border: 10px solid #ffedd8;
    background: hsla(40, 63%, 85%, 1);

    background: linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F1E1C2", endColorstr="#FCBC98", GradientType=1 );

    text-shadow: 1px 1px 2px rgb(122, 46, 46);
    font-size: 20px;
    box-shadow: 10px 10px 5px  rgba(142, 30, 30, 0.5);
    border-radius: 40px;
}

p,
h3,
h4 { 
    font-family: 'Times New Roman', Times, serif,;
    font-style: italic;
    color: rgb(23, 18, 18);
}


 

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/